In [ ]:
import tkinter as tk
import tkinter.filedialog as fd
import pandas as pd

def choose_files():
  """Opens a dialog box to allow the user to select multiple files."""
  root = tk.Tk()
  root.withdraw()
  filenames = tk.filedialog.askopenfilenames(parent=root)
  return filenames
def read_xlsx_files(filenames):
  """Reads multiple xlsx files into a single Pandas DataFrame.
  Args:
    filenames: A list of xlsx filenames.

  Returns:
    A Pandas DataFrame containing the data from all of the input CSV files.
  """

  dfs = []
  for filename in filenames:
    df = pd.read_excel(filename)
    dfs.append(df)
  df = pd.concat(dfs)
  return df
# Choose the xlsx files to read.
filenames = choose_files()
# Read the xlsx files into a single Pandas DataFrame.
Data2 = read_xlsx_files(filenames)
# Print the DataFrame.
print(Data2)

In [5]:
Data2.shape

(49212872, 25)

In [6]:
Data2.head()

,airwaybill_number,dc_inscan_date,shipper_name,shipper_code,centre_shortcode,City,State_Shortcode,Region_Name,OFD,DELV,...,Trip_Inscan_Time,milk_run_dc,dc_check,final_dc,rto_cutoff_hour,rto_cutoff_hour_2,td,D2,D1,check
0,1.008256e+10,2023-09-30 09:25:53,FASHNEAR TECHNOLOGIES PRIVATE LIMITED,311281,BSG,BSG,Madhya Pradesh,West,1,0,...,2023-09-30 09:17:42,BSG,True,BSG,830,08:30,NaN,2023-09-30 08:30:00,2023-10-01 08:30:00,NO_RTO_Lock
1,1.011791e+10,2023-09-30 12:24:02,FASHNEAR TECHNOLOGIES PRIVATE LIMITED,311281,MNG,MNG,Assam,East,1,1,...,2023-09-30 12:10:19,MNG,True,MNG,830,08:30,NaN,2023-09-30 08:30:00,2023-10-01 08:30:00,NO_RTO_Lock
2,1.012217e+10,2023-10-01 15:44:34,FASHNEAR TECHNOLOGIES PRIVATE LIMITED,311281,AML,AML,Gujarat,West,0,0,...,2023-09-30 12:47:02,AML,True,AML,830,08:30,NaN,2023-09-30 08:30:00,2023-10-01 08:30:00,NO_RTO_Lock
3,1.012218e+10,2023-10-01 10:23:19,FASHNEAR TECHNOLOGIES PRIVATE LIMITED,311281,WID,WID,Madhya Pradesh,West,1,1,...,2023-09-30 12:10:33,WID,True,WID,830,08:30,NaN,2023-09-30 08:30:00,2023-10-01 08:30:00,NO_RTO_Lock
4,1.012544e+10,NaN,FASHNEAR TECHNOLOGIES PRIVATE LIMITED,311281,MHD,MHD,Maharashtra,West,0,0,...,2023-09-30 14:12:55,MHD,False,MHD,830,08:30,NaN,2023-09-30 08:30:00,2023-10-01 08:30:00,NO_RTO_Lock